<app-header></app-header><div class="container">
  
    <div class="row">
      <div class="col-sm-3">
    
            <img style="position: absolute;
            right: 100px;
            top: 100px;" 
            src="assets/adminlogo.png">
            <h3 style="position: absolute;
            right: 120px;
            top: 330px; text-align: center">Espace Administrateur</h3>
          
      </div>
      <div class="col-sm-9"><div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Listes parks</h1>
  <!-- It won't show if there is no park data -->
  <a routerLink="/add-park" class="btn btn-success" *ngIf="hideWhenNoStudent">
    <i class="fas fa-plus custom-fa-plus"></i>
    Ajouter park
  </a>
</div>

<div class="pricing-header mx-auto">

  <!-- Preloader shows before the data loads-->
  <div class="no-data text-center" *ngIf="preLoader">
    <img src="assets/preloader.gif" class="preloader-icon" alt="No park">
  </div>

  <!-- No data shows when their is no park data available -->
  <div class="no-data text-center" *ngIf="noData">
    <img src="assets/no-park.svg" class="nodata-msg" alt="No park">
    <p class="nodata-msg">No park added yet!</p>
    <a routerLink="/add-park" class="btn btn-success">
      <i class="fas fa-plus custom-fa-plus"></i>
      Ajouter park
    </a>
  </div>

  <!-- Showing parks data -->
  <div class="table-responsive" *ngIf="hideWhenNoStudent">
    <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
      <thead>
        <tr>
          <th scope="col">Titre</th>
          <th scope="col">Adresse</th>             
           <th scope="col">Capacite</th>
        
          <th class="text-center" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- *ngFor loop iterates over Student array and fetch the park's data -->
        <!-- paginate pipe will add pagination in park's list, it won't show if items are less then 7 -->
        <tr *ngFor="let park of Park | paginate: { itemsPerPage: 7, currentPage: p }; let i = index;">
          <td>{{park.titre}} </td>
          <td>{{park.adresse}} </td>
          <td>{{park.capacite}} </td>
          
          <td class="text-center action-block">
            <!-- routerLink="/edit-park/{{park.$key}}" is refered to { path: 'edit-park/:id', component: EditStudentComponent } in app-routing.moudles.ts -->
            <i class="far fa-trash-alt" (click)="Supprimerannonce(park)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Pagination -->
  <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls>
</div>
</div></div></div>